<div id="main">
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">控制台</a>
		</li>
		
		<li>
			<span style="color:green">商品管理</span>
		</li>
	</ul><!-- .breadcrumb -->
</div>
	
<div class="page-content">
<div class="page-header">
<h1>
商品
<small>
	<i class="icon-double-angle-right"></i>
	商品列表
	</small>
</h1>
</div><!-- /.page-header -->

<div class="row">
<div class="col-xs-12">
	<div class="hr hr-18 dotted hr-double"></div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3 class="header smaller lighter blue">商品列表</h3>
			<div class="input-append" style="height: 38px;">
				<input class="span2 search-query" type="text" id="searchPostName" placeholder="商品名称" />&nbsp;<button style="height:36px;border:none" class="btn btn-primary" onclick="searchPost()">搜索</button>
			</div>
			<div class="table-responsive">
				<table id="sample-table-2" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="center">
								<label>
									<input type="checkbox" class="ace" />
									<span class="lbl"></span>
								</label>
							</th>
							<th>
								商品图片
							</th>
							<th>商品名称</th>
							<th>商品发布者</th>
							<th>商品价格</th>
							<th>
								进货价格
							</th>
							<th>一级分类</th>
							<th>二级分类</th>
							<th>三级分类</th>
							<th>商品描述</th>
							<th >上架时间</th>
							
							<th>销售数量</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					
					<tbody id = "contextBody">
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
        <ul class="pagination">
        </ul>
    </div>
</div>
</div>
</div>
<script defer>
function searchPost(){
	var searchName = $("#searchPostName").val();
	sendRequestPosts(searchName);
}

sendRequestPosts("");

function sendRequestPosts(searchName){
			$.ajax({
	            	type:"GET",
	            	//预留，数据库分页
	            	url:"http://localhost:8888/admin/postsList?page=1&size=10&searchName="+searchName,
	            	success:function(data){
	            			$("#contextBody").empty();
          					for (var i = 0; i < data.doc.length; i++) {
          						var pid = data.doc[i].pid;
          						var name = data.doc[i].name;
	          					var boss = data.doc[i].boss;
	          					var pic = data.doc[i].pic;
	          					var price = data.doc[i].price;
	          					var iprice = data.doc[i].iprice;
	          					var fbrand = data.doc[i].fbrand;
	          					var mbrand = data.doc[i].mbrand;
	          					var lbrand = data.doc[i].lbrand;
	          					var desp = data.doc[i].desp;
	          					var time = data.doc[i].time.minute;
	          					var sold = data.doc[i].sold;
	          					var state = data.doc[i].state;
	          					if(state==1){
	          						state="在售";
	          					}else{
	          						state="下架";
	          					}
	          					$("#contextBody").append("<tr><td class=\"center\"><label><input type=\"checkbox\" class=\"ace\" /><span class=\"lbl\"></span></label></td><td><img style=\"width:50px;height:50px\" src=\""+pic+"\"/></td><td>"+name+"</td><td>"+boss+"</td><td>"+price+"</td><td>"+iprice+"</td><td>"+fbrand+"</td><td>"+mbrand+"</td><td>"+lbrand+"</td><td>"+desp+"</td><td>"+time+"</td><td>"+sold+"</td><td>"+state+"</td><td class=\"hidden-480\"><a href=\"javascript:void(0)\" onclick=\"deletePosts('"+pid+"')\" class=\"btn btn-small btn-success \">删除</a></td></tr>");
          					}
          					createPage(10,5,data.totalSize,2);
	            	}
          		});
         }

	function deletePosts(id){
         	$.ajax({
	            	type:"GET",
	            	//预留，数据库分页
	            	url:"http://localhost:8888/admin/deletePosts?id="+id,
	            	success:function(data){
	            		if(data.success==1){
	            			alert("删除成功");
	            			getResult("posts");
	            			//window.location.href="/admin/index";
	            		}else{
	            			alert("删除失败");
	            		}
	            	}
          	});
         }
</script>